@model CumulativeProject1_AkshayaDupati.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>

<div>
    Last Name: @Model.TeacherId
</div>
<div>
    First Name: @Model.TeacherFName
</div>
<div>
    Last Name: @Model.TeacherLName
</div>



